{% extends 'base.html' %}

{% block title %}Edit User {{ visitor_obj.user.username }}{% endblock %}

{% block content %}
    User : {{ visitor_obj.user.username }}<br>
    Number Of Rooms Required : {{ visitor_obj.no_of_rooms_required }}<br>
    From Date : {{ visitor_obj.from_date }}<br>
    To Date : {{ visitor_obj.to_date }}<br>
    Room Preference : {{ visitor_obj.room_preference }}<br>
    Date Of Booking : {{ visitor_obj.date_of_booking }}<br>
    {#    <form method="POST">#}
    {#        {% csrf_token %}#}
    {#        {{ form.errors }}#}
    {#        {{ form.as_p }}#}
    <form method="POST">
        {% csrf_token %}
        {{ form.management_form }}
        {#    {{ form.non_field_errors }}#}
        {#    {{ form.errors }}#}
        <div style="color:red">{{ form.non_form_errors }}</div>
        {% for field in form %}
            {{ field }}<br>
        {% endfor %}
        <button type="submit">Save</button>
    </form>


    {#        <input type="checkbox" id="status" name="status_name", value="True">#}
    {#        <label for="status">Confirm Booking</label><br>#}
    {#        <input type="checkbox" id="expired" name="expired_name" value="True">#}
    {#        <label for="expired">Expired</label><br>#}
    {#        <button type="submit">Save</button>#}
    {#    </form>#}
    <a href="{% url 'change_status' visitor_obj.id %}">
        <button type="button">{% if visitor_obj.status %}Cancel Booking{% else %}Confirm Booking{% endif %}</button>
    </a>

{% endblock %}