{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    Total Available Rooms : {{ rooms }}
    Book A Room<br>
    {{ user.username }}<br>
    <a href="{% url 'logout' %}">Logout<br></a>
    {% if msg %}
        {{ msg }}<br>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    Current Requests :<br>
    {% if current_requests %}
{#        {% for r in current_requests %}#}
            {#        {{ r.no_of_rooms_required }} -> {{ r.date_of_booking }} -> {{ r.status }}#}
{#            {% if r.status %}#}
            {#        {{ i = forloop.counter %}#}
            {% for b in booking_info %}
                {{ b.room_no }} -> {{ b.hostel_allotted }}<br>
            {% endfor %}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        None#}
    {% endif %}

{% endblock %}